          <div class="bodyContainer"> 
              <div id="postContainer" class="boxTheme">
                  <article class="userPost">
                      <header class="postHeader">
                            <div>
                                <img id="imageProfile" src="https://png2.kisspng.com/sh/d673e7abd757d538da2fb157e79b05fb/L0KzQYm3WMExN6Z5R91yc4Pzfri0gBhiephqetNsaz3wdcPqiPFvfF54feRBaXPog37qjB1xaZ9ARdd3dILogMPsjvV2eqQyh982bICweX71jCJobV46eqhtM0a3dYa5UPM3P185TaIDM0O5SIK8U8M5QGQAUKQ8M0a0PsH1h5==/kisspng-chargeback-merchant-services-company-entrepreneurs-om-lp-i-norge-5b6d364e520c67.4508336815338839823361.png" alt="ProfilePicture"/>
                            </div>
                            <div>
                                <p id="userName"><b>user name</b></p>
                                <p id="userId">@user</p>
                            </div>
                            <div>
                                <p>...</p>
                            </div>
                            <div id="smallProfile">

                            </div>
                      </header>
                      <div class="postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      <footer class="postFooter">
                      <img src="/images/icon/comment.svg" alt="comment icon" />
                      <img src="/images/icon/heart.svg" alt="like icon" />
                      </footer>
                  </article>
              
              </div>
              <div id="rightSideBar" class="boxTheme"> Side Bar</div>
          </div>