.par-info {
    font-size: 75%;
}

.story {
    font-family: 'Merienda', cursive;
}

.storyContent {
    font-size: 80%;
}

.linkContent {
    color: black;
}

.smallText {
    font-size: 80%;
}

.valueLabel {
    color: gray;
}

