<div class="row">
  <div class="col-8 offset-2">
    <h1>Create a New Story {{user.firstName}}!</h1>
    <p>Here you can create a new story and add your friends to contribute to the story!</p>
    <form class="clearfix mb-4" id="createStory" action="POST">
      <div class="form-group">
        <label for="createTitle">Story title</label>
        <input type="text" id="createTitle" data-email="{{user.email}}" class="form-control" aria-describedby="title" autofocus required>
      </div>
      <div class="form-group">
        <label for="totalCharacters">Total characters allowed per turn</label>
        <input type="text" value="500" id="createTotalCharacters" class="form-control" aria-describedby="Total Characters" required>
        <div class="invalid-feedback" id="createTotalCharactersInvalid">
            </div>
      </div>
      <div class="form-group">
        <label for="totalCharacters">Total turns each person gets</label>
        <input type="text" value="10" id="createTotalTurns" class="form-control" aria-describedby="Total Turns" required>
         <div class="invalid-feedback" id="createTotalTurnsInvalid">
            </div>
      </div>
      <div class="form-group">
        <label for="firstParagraph">Start the story! Characters Left: <span id="charsLeft"></span></label>
        <textarea type="text" id="createFirstParagraph" class="form-control" aria-describedby="Total Turns" required></textarea>
         <div class="invalid-feedback" id="createFirstParagraphInvalid">
            </div>
      </div>
      <div id="allFriends">
        <label for="storyFriend1">Enter the email addresses of friends to 'Pass' the story to:</label>
        <div class="form-group form-inline">
          <label for="storyFriend1" class="mr-1">1:</label>
          <input type="email" id="createStoryFriend1" class="form-control w-75" aria-describedby="Story Friend 1 eMail Address">
          <button id="addFriend" class="btn btn-secondary float-right">Add Friend</button>
          <div class="invalid-feedback" id="createStoryFriendInvalid1">
            </div>
        </div>
        
      </div>
      <button id="return" class="btn btn-secondary float-left mr-2">Return to Story List</button>
      <button id="submitCreateStory" class="btn btn-primary float-left">Start Your Story</button>
    </form>
  </div>
</div>