{{!-- <link rel="stylesheet" href="/styles/signup.css"> --}}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Login</h1>

    <!-- Icon -->
    {{!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> --}}

    <!-- Login Form -->
    <form id="user-login">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" autofocus required>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Log in">
    </form>

    <!-- Link to the Login page if you already have an account -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Don't have an account yet? Sign up</a>
    </div>


  </div>

</div>
