{{!-- <link rel="stylesheet" href="/styles/signup.css"> --}}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Sign Up</h1>

    <!-- Icon -->
    {{!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> --}}

    <!-- Login Form -->
    <form id="user-sign-up"> 
      <input type="text" id="firstName" class="fadeIn second" name="first name" placeholder="first name" autofocus required> 
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" required>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Sign up">
    </form>

    <!-- Link to the Login page if you already have an account -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Have an account? Log in</a>
    </div>


  </div>

</div>
